body {
    margin: 0;
    background: #060606;
    color: #8fff89;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    position: absolute;
    top: 20px;
    font-weight: 300;
    letter-spacing: 2px;
}

h2 {
    margin-top: 20%;
    margin-bottom: 30px;
    font-weight: 300;
    letter-spacing: 2px;
}

#content {
    display: flex;
    padding-top: 80px;
    flex-direction: column;
    gap: 10%;
}

svg {
    border: 1.5px whitesmoke solid;
    background-color: #000000;
    border-radius: 4px;
    display: block;
    width: 85vw;
    height: 600px;
}

.tcircle {
    stroke: #334155;
    stroke-width: 1.5;
    fill: none;
}


.wire {
    stroke: #334155;
    stroke-width: 4;
    stroke-linecap: round;
    fill: none;
    transition: stroke 0.3s;
}

.wire.p {
    filter: drop-shadow(0 0 12px #041dff);
}

.wire.q {
    filter: drop-shadow(0 0 10px #3600d8);
}

.wire.np {
    filter: drop-shadow(0 0 10px #ff0404);
}

.wire.nq {
    filter: drop-shadow(0 0 10px #ee6dff);
}

.wire.sep {
    stroke: #bdbdbd;
    stroke-width: 3;
}

.wire.active {
    stroke: #cef522;
    filter: drop-shadow(0 0 8px #22c55e);
}

.gate {
    fill: #2d2f43;
    stroke: #99999999;
    stroke-width: 2;
}

.gate.xor {
    fill: none;
}

.lamp {
    fill: #1e293b;
    stroke: #94a3b8;
    stroke-width: 3;
    transition: fill 0.3s, filter 0.3s;
}

.lamp.on {
    fill: #faffdc;
    filter: drop-shadow(0 0 12px #22c55e);
}

.switch {
    cursor: pointer;
    fill: #9eb1cbce;
    stroke: #1e293b;
    stroke-width: 2;
    transition: fill 0.3s;
}

.txtbox {
    cursor: none;
    fill: #151515;
    stroke: #bdbdbd;
    stroke-width: 2;
    transition: fill 0.3s;
}

.txtbox.clc {
    cursor: pointer;
}

.txtbox.clc.on, .txtbox.on {
    fill: #749205;
    stroke: #cef522;
    filter: drop-shadow(0 0 10px #22c55e);
}

.switch.on {
    fill: #b5ec9b;
}

svg text {
    fill: white;
    text-anchor: start;
    dominant-baseline: text-bottom;
    font-size: medium;
    user-select: none;
}

.res_txt {
    pointer-events: none;
    fill: #9eb1cbce;
    font-size: 30px;
}

.res_txt.active {
    fill: #cef522;
    filter: drop-shadow(0 0 8px #22c55e);
    font-size: 30px;
}

br {
    margin-bottom: 70px;
}